<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link href="/css/figma-styles.css" rel="stylesheet">
    <title>Form Example</title>
</head>
<body>
<h1>Submit Your Information</h1>
<form action="/api/v1/authenticate" method="post" th:object="${userDTO}">
    <label>Name :</label>
    <input type="text" id="username" th:name="username" required><br><br>
    <label>Password :</label>
    <input type="text" id="password" th:name="password" required><br><br>
    <button type="submit">Submit</button>
</form>

</body>
</html>
