<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
          <p>CREATE SHORT URL OF SITE :: </p>
    <form th:action="@{/api/url/shorturl}" method="post" th:object="${keyvalue}">
        <div>
            <label for="key">Key :</label>
            <input type="text" id="key" name="key" placeholder="Enter key here" />
        </div>
        <div>
            <label for="value">Value :</label>
            <input type="text" id="value" name="value" placeholder="Enter value here"/>
        </div>
        <button type="submit" onclick="renderData()">Submit</button>
    </form>
<div class="render">
    <p></p>
</div>
<div>

    <label>USER DATA ::</label>
    <p th:if="${urlShort}" th:text="${urlShort}"></p>

    <label>USER URL DATA ::</label>
    <p th:if="${userurlData}" th:text="${userurlData}"></p>

    <label>USER CLICKEVENT DATA ::</label>
    <p th:if="${clickEventList}" th:text="${clickEventList}"></p>

    <label>CLICK EVENT MAPPINGS</label>
    <p th:if="${clickeventMapping}" th:text="${clickeventMapping}"></p>
</div>

<script th:inline="javascript">

    function renderData(){
var clickEventListData=[[${clickEventList}]];
if(clickEventListData.length()>0){
clickEventListData.forEach(event->
       let result= document.querySelector("render p");
       result.textContent=event;
);
}
}
</script>

    </body>
    </html>
</form>
</body>
</html>